azure-search-documents==11.5.2
azure-identity
openai>=1.70.0
datasets
python-dotenv
tenacity==9.0.0
pandas==2.2.3 
tiktoken==0.8.0
semantic-kernel==1.33.0
asyncio==3.4.3
azure-ai-projects==1.0.0b11
azure-ai-evaluation==1.8.0
autogen-core==0.4.6
autogen-agentchat==0.4.6
autogen-ext==0.4.6
langchain-openai==0.3.4
azure-genai-utils==0.0.2.20
promptflow-devkit==1.17.2
azure-ai-ml==1.24.0
# ModuleNotFoundError: No module named 'bs4'
bs4==0.0.2
azure-ai-inference==1.0.0b8
azure-monitor-opentelemetry==1.6.7
autogenstudio==0.4.1.1
langchain-experimental==0.3.4
matplotlib==3.10.0
ipywidgets==8.1.5
pyyaml~=6.0.2
pyarrow==19.0.1
llama-index==0.12.28
llama-index-core==0.12.28
networkx
faiss-cpu==1.10.0
scrapy==2.13.0
requests>=2.31.0
nbimporter>=0.3.4
httpx>=0.24.1
nest-asyncio>=1.5.8
beautifulsoup4>=4.12.2

